@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 14px;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	background-color: $cream;
}
.footer {
	display: flex;
	flex: 1 0 100%;
	justify-content: center;
	align-items: flex-end;
	padding: 1em 1em;
	text-align: center;
	&__text {
		color: hsl(228, 45%, 44%);
		font-size: .8rem;
	}
}
.main {
	display: flex;
	flex-direction: column;
	margin: 2em;
	background-color: $white;
	border-radius: 10px;
	overflow: hidden;
	min-width: 250px;
	.image {
		min-height: 250px;
		background-image: url(../images/image-product-mobile.jpg);
		background-size: cover;
		background-position: center;
	}
	.content {
		padding: 2em;
		&__text {
			color: $dark-grayish-blue;
			text-transform: uppercase;
			padding-bottom: 1em;
			letter-spacing: 3px;
		}
		&__heading {
			font-family: 'Fraunces', serif;
			padding-bottom: 0.6em;
		}
		&__descrip {
			font-size: 1rem;
			color: $dark-grayish-blue;
			line-height: 150%;
		}
		&__prices {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&--new {
				flex: 1 1 auto;
				padding: 0.7em 0;
				font-size: 2em;
				font-family: 'Fraunces', serif;
				font-weight: 700;
				color: $dark-cyan;
			}
			&--old {
				flex: 1 1 auto;
				padding: 1em 1em 1em 1em;
				color: $dark-grayish-blue;
				text-decoration: line-through;
			}
		}
		&__btn {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			padding: 0.6em;
			background-color: $dark-cyan;
			border: none;
			border-radius: 10px;
			font-weight: 700;
			color: $white;
			.icon {
				padding-right: 5px;
			}
		}
	}
}


@media (min-width: 768px) {
	.main {
		max-width: 700px;
		flex-direction: row;
		.image {
			min-width: 50%;
			background-image: url(../images/image-product-desktop.jpg);
		}
		.content {
			padding: 3em;
			&__heading {
				font-size: 2.7rem;
			}
			&__descrip {
				line-height: 150%;
				font-size: 1.1rem;
			}
			&__prices {
				&--new {
					font-size: 2.5em;
				}
				&--old {
					font-size: 1.1em;
				}
			}
			&__btn {
				font-size: 1.1em;
				.icon {
					width: 20px;
					height: 17px;
					margin-right: 0.5em;
				}
			}			
		}

	}
}
	